pyrogram==1.4.16
telethon==1.24.0
tgcrypto
requests==2.27.1
aiohttp==3.8.1
aiohttp[speedups]>=3.7.3
tracemoepy
lottie
bs4
motor==2.5.1
dnspython
jikanpy==4.3.2
natsort
apscheduler
lxml==4.8.0
html5lib
